*{
	background-color: ;
	margin: auto;
}

body{
	font-family: verdana;
	font-size: 100%;
	background-image: url("../imagens/fundo.png");
	background-position: 50% 70%;
	background-repeat: no-repeat;
}

form{
	margin: auto;
	width: 300px;
	padding: 20px;
	border-radius: 5px;
	background-color: #fff;
	margin-top: 100px;
	text-align: center;
    box-shadow: 5px 5px 5px black;
    
}

.campo{
	width: 300px;
	height: 30px;
	border-radius: 3px;
	background-color: #fff;
	margin-top: 10px;
    
	
}

img{
	width: 300px;
	height: auto;
	background-color: #fff;
}


p, a {
	background-color: #fff;
	font-size: 80%;
	color: #999;
	text-align: right;
}

.btn{
	font-size: 100%;
	width: 300px;
	padding: 10px;
	background-color: #008080;
	color: #fff;
	border: 3px solid #008080;
	cursor: pointer;
}

.btn:hover{
	background-color: #5F9EA0;
}


